body{
  background-color: #77aa33;
  font-family: monospace;
  font-size: 18px;
}

.text-center{
  text-align: center;
}

.navbar-default{
  background-color:#7d9faa;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color:#9dbfca;
}

.invis{
  color:#7d9faa;
}

.active :not(.invis){
  border-radius:6px;
}

.well{
  margin-top: 52px;
text-align: center;
}

.display{
  color: #000066;
}
