<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Wordcounter</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>

  <body>
    <h1>Word Counter</h1>
@foreach(var words in Model)
{
<a href=/game/@words.GetId()>The word "@words.GetCompare()" appears @words.Count() times in the phrase "@words.GetTo()"</a><br>
}
<form action="/game/delete" method="post">
<button type="submit">Delete All Entries</button>
</form>
  </body>
</html>
