@using Wordcount.Models;
<h2>@Model.GetId()</h2>
<ul>
<li>Word:@Model.GetCompare()</li>
<li>Sentence:@Model.GetTo()</li>
<li>Appearances of word in Sentence:@Model.Count()</li>
<li>Scrabble Score: @ScrabbleScore.ScoreIt(Model.GetCompare())</li>
</ul>

<form action="/game/@Model.GetId()/compare" method="post">
<input id="compare" name="compare" type="text">
  <button type="submit" class="btn btn-dark" name="feed">Change the Word</button>
</form>
<form action="/game/@Model.GetId()/to" method="post">
<input id="to" name="to" type="text">
  <button type="submit" class="btn btn-danger" name="rest">Change the sentence</button>
</form>
<form action="/game/@Model.GetId()/" method="post">
  <button type="submit" class="btn btn-danger" name="rest">Delete this set of words</button>
</form>

<a href='/game/add'>Add a new set of words</a><br>
<a href='/game'>View all sets of words</a>
